* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: black;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 600;
}

h3 {
    font-weight: 500;
}

h4 {
    font-weight: 400;
}

h5 {
    font-weight: 300;
}

h6 {
    font-weight: 200;
}

p {
    font-weight: 100;
}

/* Base background */
.main-bg {
    position: fixed;
    inset: 0;
    background-position: center;
    background-repeat:space;
    background-size: cover;
    z-index: 1;
    background-image: url("https://cdn.oyosf.com/assets/images/cover.webp ");
    opacity: 0.7;
}

/* Content */
.content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    column-gap: 100px;
}

.content h1 {
    font-size: clamp(10rem, 100vw, 10rem);
    text-align: center;
    text-shadow: 0 10px 40px rgba(0,0,0,0.5);
    z-index: 2;
    animation: fadeIn 2s ease-out;
    font-weight: 800;
    padding-bottom: 0;
}

.content h2 {
    font-size: clamp(1rem, 2.09vw, 5rem);
    padding-bottom: 30px;
    padding-top: 10px;
    z-index: 2;
}

.content h3 {
    z-index: 2;
}

.start-button {
    background-color: #ffffff;
    color: #000000;
    z-index: 2;
    padding: 10px 20px;
    border-radius: 20px 20px;
    font-weight: 600;
    transition: background-color 0.2s ease, color 0.2s ease ;
}

.start-button:hover{
    background-color: #50ff00;
    color: #000000;
    font-weight: 600;
}


@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.second-bg {
    position: fixed;
    background-repeat: no-repeat;
    inset: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    background-image: url("https://cdn.oyosf.com/assets/images/png-over.webp");
    opacity: 0.8; 
    box-shadow:100px 110px black ;
}

@media (max-width: 320px) {
    body {
        background-attachment: scroll;
    }

    .content h1 {
        font-size: clamp(5.5rem, 0vw, 5rem);
    }
    .content h2 {
        font-size: clamp(1rem, 5vw, 5rem);
    }
}

@media (min-width: 321px) and (max-width: 375px) {
    body {
        background-attachment: scroll;
    }

    .content h1 {
        font-size: clamp(6rem, 5vw, 5rem);
    }
    .content h2 {
        font-size: clamp(1rem, 4.8vw, 5rem);
    }
}

@media (min-width: 376px) and (max-width: 500px) {
    body {
        background-attachment: scroll;
    }

    .content h1 {
        font-size: clamp(6.5rem, 5vw, 5rem);
    }
    .content h2 {
        font-size: clamp(1rem, 4.8vw, 5rem);
    }
}

@media (min-width: 501px) and (max-width: 700px) {
    body {
        background-attachment: scroll;
    }

    .content h1 {
        font-size: clamp(6.7rem, 5vw, 5rem);
    }
    .content h2 {
        font-size: clamp(1rem, 2.8vw, 5rem);
    }
}


@media (min-width: 701px) and (max-width: 768px) {
    body {
        background-attachment: scroll;
    }

    .content h1 {
        font-size: clamp(6.7rem, 5vw, 5rem);
    }
    .content h2 {
        font-size: clamp(1rem, 2.5vw, 5rem);
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    body {
        background-attachment: scroll;
    }

    .content h1 {
        font-size: clamp(6.7rem, 5vw, 5rem);
    }
    .content h2 {
        font-size: clamp(1rem, 2vw, 5rem);
    }
}